<div>
    <div class="header">
        <br>
        <H3 class=header>Welcome to America's Premier Testing site</H3>
    </div>

    <div class="body">
        <p>We are happy to provide you a platform where you can verify your knowledge level in various subject areas and master
            them.
        </p>
        <p>Our Subject Matter Experts (SMEs) are always working on creating new challenges to help you assess your skill levels.</p>
        <p>Please select one of the available subject areas and expertise level to begin.</p>
    </div>

    <div class="subjectArea">
        <strong>Subject Area: </strong>
        <select>
            <option *ngFor="let subjectArea of subjectAreas">{{subjectArea.quiz_subject_area}}</option>
        </select>
    </div>

    <div class="questionComplexity">
        <p>
            <strong>Expertise Level: </strong>
            <select>
                <option *ngFor="let questionComplexity of questionComplexityList">{{questionComplexity.question_complexity_level_description}}</option>
            </select>
        </p>
    </div>
    <button (click)="viewQuestions()" class="btn btn-success">View Questions</button>
    <p>{{message}}</p>
</div>