<div>
      <div class="header">
            <H3 class=header>Following Questionnaire is prepared based on your selection</H3>
      </div>
      <br>
      <br>
      <div class="panel-body">
            <table>

                  <tbody>
                        <tr *ngFor="let questionanswer of questionanswers">{{questionanswers.question_text}}</tr>
                        <!-- <br>
                        <td>{{questionanswers.answer_option_text}}</td> -->
                  </tbody>
            </table>
            <br>
      </div>
</div>