<div>
      <div class="header">
            <H3 class=header>Following Questionnaire is prepared based on your selection</H3>
      </div>
      <br>
      <br>

      <div *ngFor="let question of questionanswers; let i = index">{{i+1}}. {{question.question_text}}
            <div *ngFor="let answer of question.answers">
                  <input name={{question.question_id}} type="radio" (click)="saveresponse(question.question_id, answer.answer_id)"> {{answer.answer_option_text}}
            </div>
            <br>
      </div>
      <br> {{databaseErrorMessage}}
      <button class="btn btn-success" (click)="validateAnswers()">Validate Responses</button>
      <br>
      <br>
      <div *ngFor="let validationResult of validationResults">{{validationResult}}</div>

</div>