body{
    background-color: #525252;
    text-align:center;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
}
form {
    display: inline-block;
    text-align: center;
}