<div class="body">
<!--<div class="grad"></div> -->
    <div class="header"> 
        <div><br><span style="color: rgb(0, 255, 13)">T Y K L</span></div>
    </div>
    <br>
    <div class="login">
        <input type="text" [(ngModel)]="username" placeholder="Enter Username" id="username" name="username"><br>
        <input type="password" [(ngModel)]="password" placeholder="Enter Password" id="password" name="password"><br>
        <input type="button" (click)="loginSubmit()" value="Login"><br> <br>
        <p>New User? <a href="#/auth/registration">Register here</a></p>
        <span *ngIf=true>{{message}}</span>
    </div>
</div>