<!-- <div class="row">
<div class="grad"></div> 
    <div class="col-lg-6"> 
        <div><br><span style="color: rgb(0, 255, 13)">T Y K L</span></div>
    </div>
    <br>
    <div class="input-group">
        <input type="text" [(ngModel)]="username" placeholder="Enter Username" id="username" name="username"><br>
        </div>
        <input type="password" [(ngModel)]="password" placeholder="Enter Password" id="password" name="password"><br>
        <input type="button" (click)="loginSubmit()" value="Login"><br> <br>
        <p>New User? <a href="#/auth/registration">Register here</a></p>
        <span *ngIf=true>{{message}}</span>
    
</div> -->




<div class="container">
    <div class="row">
        <img src="../../assets/images/tykl.png" class="img-responsive">
    </div>
    <br>
        <div class="row text-center">
                <div class="col-lg-12">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h2 class="panel-title">Test Your Knowledge</h2>
			 			</div><br>
			 			<div class="panel-body">
			    		<form role="form" name="loginForm" #f="ngForm">
			    			<div class="">
			    				<div class="col-md-12">
			    					<div class="form-group">
                                        <table border="0"><tr><td>User Name:&nbsp;&nbsp; </td><td><input type="text" [(ngModel)]="username" name="username" id="username" class="form-control input-sm" required></td></tr></table>
			    					</div>
			    				</div>
			    				<div class="col-md-12">
			    					<div class="form-group">
                                        <table border="0"><tr><td>Password:&nbsp;&nbsp;&nbsp;&nbsp; </td><td><input type="password" [(ngModel)]="password" name="password" id="password" class="form-control input-sm" required></td></tr></table>
			    					</div>
			    				</div>
                            </div>
                           
			    			<div class="text-center">
			    					<div class="form-group">
                            <input [disabled]="!f.valid" type="submit" (click)="loginSubmit()" value="Login" class="btn btn-info btn-block col-md-12"><br>
                            <p align="center">New User? <a href="#/auth/registration">Register here</a></p>
                            <span *ngIf=true>{{message}}</span>
                        </div>
                    </div>
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>