<br><br>
<div class="container">
    <div class="row text-center">
        <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">List of available questions for quiz : {{quizDescription}} </h4>
                <h6>You can delete one question at a time.</h6>
            </div>
            <br><br>
            <div class="panel-body" >
                    <table border="1" class="allrequests-table">
                        <thead>
                          <th width="10%">ID</th>
                          <th width="85%">Question</th>
                          <th >Delete</th>
                          
                        </thead>    
                    <tbody *ngFor="let questions of questionList " >
                          <tr>
                            <td>{{questions.question_id}}</td>
                            <td align = "left">{{questions.question_text}}</td>
                            <td><button class="w3-button w3-border w3-small" (click)="deleteQuestion(questions.question_id, questions.question_text)">X</button></td>                            
                          </tr>
                        </tbody>
                    </table>
                    <br>
                    <h6>{{message}}</h6>
                    <h6>{{questionText}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
