<br><br>
<div class="container">
    <div class="row text-center">
        <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">List of your previously created knowledge Testers</h4>
            </div>
            <br><br>
            <div class="panel-body" >
                    <table border="1" class="allrequests-table">
                        <thead>
                          <th width="30%">Questio ID</th>
                          <th width="70%">Question</th>
                          
                        </thead>    
                    <tbody *ngFor="let questions of questionList " >
                          <tr>
                            <td>{{questions.question_id}}</td>
                            <td>{{questions.question_text}}</td>
                          </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
