<br>
<br>

<div *ngIf="usertype; else elseblock">

  <div class="col-md-10">
    <h3 class="panel-title">
      <a data-toggle="collapse out" data-parent="#accordion" href="javascript:void(0)">
        <span class="glyphicon glyphicon-th-list">
        </span>Welcome to America's Premier Testing Site - Admin</a>
    </h3>
    <br>
    <br>
    <br>
    <h4>Welcome back, {{firstName}}!! </h4>
    <br>
    <br>
    <h6> As a Subject Matter Expert(SME), you can create new challenges to help assess skill levels of the users.
      <br>
      <br> You have the previledge to view existing subject areas, their related questions and manage them.
      <br>
      <br> You can also add new questions to a subject area of your choice.
      <br>
      <br> Please select an option from 'Quiz SME' menu to start.</h6>
    <br>
  </div>
</div>

<ng-template #elseblock>
  <div class="col-md-12">
    <div class="container-fluid">
      <h3 class="panel-title">
        <a data-toggle="collapse out" data-parent="#accordion" href="javascript:void(0)">
          <span class="glyphicon glyphicon-th-list">
          </span>Welcome to America's Premier Testing Site - User</a>
      </h3>
      <table border="0">
        <tr>
          <br>
          <br>
          <h4>Welcome back, {{firstName}}!! </h4>
          <br>
        </tr>
        <tr>
          <td valign="top" width="550px">
            <br>
            <h6>Thank you for chosing our applicaiton to Test Your Knowledge Level.</h6>
            <br>
            <h6> As a User, you can anwser a questionnaire to assess your skill level in the chosen subject area.</h6>
            <br>
            <h6>Please select an option from 'Quiz User' menu to start.</h6>
          </td>
          <td width="250px">
          </td>
          <td width="350px">
            <ngx-player></ngx-player>
          </td>
        </tr>
      </table>
    </div>
  </div>

</ng-template>